{% extends 'base.html' %}
{% block content %}
<section class="form">
    <h1 class="header"> my {{ plant.name }}</h1>
    <p class="plant-date"> Planted on {{plant.date}} </p>
    <p class="plant-date"> Age {{plant.age}} </p>
    <div class="form-content">
        <p id="plant-desc">{{ plant.description }}</p>
    </div>
    <div class="form-buttons">
        <a href="{% url 'plants_list' %}" class="btn">Back</a>
        <a href="{% url 'plants_update' plant.id %}" class="btn">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}" class="btn">Delete</a>
    </div>
</section>
<hr>
<section class="comments-section">
    <h2>Comments</h2>

    <a href="#">Add A Comment</a>
    <br>
    {% if not plant.comments.all %}
        No Comments Yet
    {% else %}
        {% for comment in plant.comments.all %}
            {{ comment.comment_text }} - 
            <strong>
                {{ comment.user.username }} @ {{ comment.date }}
            </strong>
            <br>
        {% endfor %}
    {% endif %}
</section>
<br>
{% endblock %}