{% extends 'base.html' %}
{% block content %}
<section class="form">
    <div class="form-bg">
        <div class="details-buttons">
            <a href="{% url 'plants_list' %}" id="back-btn"> << back</a>
            <a href="{% url 'plants_update' plant.id %}" id="edit-btn">edit >></a>
        </div>
        <div class="titleblock">
            <h1 class="header"> my {{ plant.name }}</h1>
            <p class="plant-date"> planted on {{plant.date}}.  | age: {{plant.age}}</p>
        </div>

    {% for photo in plant.photo_set.all %}
    <img src="{{photo.url}}" alt="{{plant.name}}" >
    {% empty %}
    <p>{{plant.name}} doesn't have any photos yet! </p>
    {% endfor %}

    <div class="form-buttons">
        <a href="{% url 'plants_list' %}" class="btn">Back</a>
        <a href="{% url 'plants_update' plant.id %}" class="btn">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}" class="btn">Delete</a>
    </div>
</section>
<section class="comments-section form">
    <h2>Comments</h2>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn">Add Comment</button>
    </form>
    <br>
    {% if not plant.comments.all %}
        No Comments Yet
    {% else %}
        {% for comment in plant.comments.all %}
            {{ comment.comment_text }} - 
            <strong>
                {{ comment.user.username }} @ {{ comment.date }}
            </strong>
            <br>
        {% endfor %}

        <div class="form-content">
            <p id="plant-desc">{{ plant.description }}</p>
        </div>

        <div class="comments-section">
            <h2>Comments</h2>
            {% if not plant.comments.all %}
                No Comments Yet - <a href="#">Add a Comment</a>
            {% else %}
                {% for comment in plant.comments.all %}
                    {{ comment.comment_text }} - 
                    <strong>
                        {{ comment.user.username }} @ {{ comment.date }}
                    </strong>
                {% endfor %}
            {% endif %}
        </div>

        <div class="details-buttons-bottom">
            <a href="{% url 'plants_list' %}" id="back-btn"><< back</a>
            <a href="{% url 'plants_update' plant.id %}" id="edit-btn">edit >></a>
            <a href="{% url 'plants_delete' plant.id %}" id="delete-btn">Delete</a>
        </div>
    </div>

</section>
{% endblock %}