{% extends 'base.html' %}
{% block content %}
<main class="dashboard">
    <section class="info-column">
        <div class="info-box">
            <div class="info-images">
                <img src="https://i.ibb.co/xhQ3wb0/holding-hand.png" id="info-plant">
                <img src="https://i.ibb.co/VW3Tg0n/magnifying-glass.png" id="info-explore">
                <img src="https://i.ibb.co/7G3G26m/gardening.png" id="info-collection">
                <img src="https://i.ibb.co/H7ts3n3/open-door.png" id="info-sign_out">
            </div>
            <div class="info-welcome">
                <h1> welcome! </h1>
                <p> Explore and enjoy other's gardens! </p>
            </div>
        </div>
        <div class="functions-box">
            <div class="dashboard-links">
                <a href="{% url 'plants_list' %}" class="dash-link" id="your_garden">your garden</a>
                <a href="{% url 'plants_create' %}" class="dash-link" id="new_plant"> add a new plant </a>
                <a href="{% url 'plants_explore' %}" class="dash-link" id="new_collection">explore</a>
                <a href="{% url 'logout' %}" class="dash-link" id="sign_out">sign out</a>
            </div>
        </div>
      </section>
    
    <section class="garden">
        <!-- while loop for dynamic card templates -->
        {% for user in users %}
            {% for plant in user.plant_set.all %}
            <a href="{% url 'detail' plant.id %}">
                <div class="plant-container">
                    <div class="plant-box-big" id="plant-{{plant.id}}">
                        <!-- with template tag assigns only the first photo in queryset, which is then displayed -->
                        {% with plant.photo_set.all|first as photo %}
                            {% if photo %}
                                <img src="{{photo.url}}" alt="{{plant.name}}">
                            {% else %}
                                <img src="https://www.fast-growing-trees.com/cdn/shop/products/Japanese_Maple_Red_Dragon_6.jpg?v=1607098499&width=1000" alt="default plant">
                            {% endif %}
                        {% endwith %}
                        <div class="plant-text">
                            <h3>{{ user.username }} </h3>
                            <h3>{{ plant.name }} </h3>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endfor %}
    </section>
</main>
<script>
    
    // im sorry
    const welcome = document.querySelector('.info-welcome');
    const plantImg = document.getElementById('info-plant');
    const exploreImg = document.getElementById('info-explore');
    const collectionImg = document.getElementById('info-collection');
    const signOutImg = document.getElementById('info-sign_out');
    const plant = document.getElementById('new_plant')
    const explore = document.getElementById('explore')
    const collection = document.getElementById('view_collection')
    const signOut = document.getElementById('sign_out')

    plant.addEventListener('mouseover', function() {
        plantImg.style.visibility = 'visible'
        exploreImg.style.visibility = 'hidden'
        collectionImg.style.visibility = 'hidden'
        signOutImg.style.visibility = 'hidden'
        welcome.style.visibility = 'hidden'
    })

    explore.addEventListener('mouseover', function() {
        plantImg.style.visibility = 'hidden'
        exploreImg.style.visibility = 'visible'
        collectionImg.style.visibility = 'hidden'
        signOutImg.style.visibility = 'hidden'
        welcome.style.visibility = 'hidden'
    })

    collection.addEventListener('mouseover', function() {
        plantImg.style.visibility = 'hidden'
        exploreImg.style.visibility = 'hidden'
        collectionImg.style.visibility = 'visible'
        signOutImg.style.visibility = 'hidden'
        welcome.style.visibility = 'hidden'
    })

    signOut.addEventListener('mouseover', function() {
        plantImg.style.visibility = 'hidden'
        exploreImg.style.visibility = 'hidden'
        collectionImg.style.visibility = 'hidden'
        signOutImg.style.visibility = 'visible'
        welcome.style.visibility = 'hidden'
    })
</script>
{% endblock %}