{% extends 'base.html' %}
{% block content %}

<!-- forms for creating/updating plant instances -->
<section class="form">
    <div class="form-bg">
        {% if object %}
            <h1 class="header"> update {{plant.name}}</h1>
        {% else %}
            <h1 class="header"> Let's add your new plant!</h1>
        {% endif %}
        <div class="form-content">
            <form action="" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="file" name="photo-file">
                <div class="form-buttons">
                    {% if object %}
                        <a href="{% url 'detail' plant.id %}" class="btn">Back</a>
                        <input type="submit" value="Update" class="btn">
                    {% else %}
                        <a href="{% url 'plants_list' %}" class="btn">Cancel</a>
                        <input type="submit" value="Add Plant" class="btn">
                    {% endif %}
                </div>
            </form>
        </div>

    </div>
</section>

{% endblock %}