{% extends 'base.html' %}
{% block content %}
<main class="form">
    <div class="form-bg">
        <div class="details-buttons">
            <a href="{% url 'plants_list' %}" id="back-btn"> << back</a>
            <a href="{% url 'plants_update' plant.id %}" id="edit-btn">edit >></a>
        </div>
        <div class="titleblock">
            <h1 class="header"> my {{ plant.name }}</h1>
            <p class="plant-date"> planted on {{plant.date}}.  | age: {{plant.age}}</p>
        </div>

        <section class="wrapper">
            <div class="carousel">
            {% for photo in plant.photo_set.all %}
                <img src="{{photo.url}}" alt="An image of your {{plant.name}}" class="tree-pics" id="slide-{{photo.id}}">
            {% empty %}
                <img src="https://i.ibb.co/JzmmLCH/camera.png" alt="No picture placeholder" id="placeholder">
            {% endfor %}
            </div>
            <div id="controls" class="controls">
            {% for photo in plant.photo_set.all %}
                <a href="#slide-{{photo.id}}" class="controls__dot"></a>
            {% endfor %}
            </div>
          </section>

        <div class="form-content">
            <p id="plant-desc">{{ plant.description }}</p>
        </div>

        <section class="comments-section">
            <h2>Comments</h2>
            <form action="{% url 'add_comment' plant.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn">Add Comment</button>
            </form>
            <br>
            {% if not plant.comments.all %}
                <p>No Comments Yet</p>
            {% else %}
                {% for comment in plant.comments.all %}
                    {{ comment.comment_text }} - 
                    <strong>
                        {{ comment.user.username }} @ {{ comment.date }}
                    </strong>
                    <br>
                {% endfor %}
            {% endif %}
        </section>

        <div class="details-buttons-bottom">
            <a href="{% url 'plants_list' %}" id="back-btn"><< back</a>
            <a href="{% url 'plants_update' plant.id %}" id="edit-btn">edit >></a>
            <a href="{% url 'plants_delete' plant.id %}" id="delete-btn">Delete</a>
        </div>
    </div>
</main>

<script>
// prevent scrolling when using slider controls
document.querySelector('#controls').addEventListener('click', (event) => {
  const $slide = document.querySelector(event.target.getAttribute('href'));
  if (!$slide) return;
  
  if ($slide.scrollIntoViewIfNeeded) {
    event.preventDefault();
    $slide.scrollIntoViewIfNeeded();
  } else if ($slide.scrollIntoView) {
    event.preventDefault();
    $slide.scrollIntoView();
  }
});
</script>
{% endblock %}
