{% extends 'base.html' %}
{% block content %}
<main class="home">
    <section class="landing-content">
        <h1 id="landing-header">our Garden</h1>
        <div class="links">
            <a href="#about-content" class="landing-links">about</a>
            <a href="{% url 'signup' %}" class="landing-links">sign up</a>
            <a href="{% url 'login' %}" class="landing-links">sign in</a>
        </div>
    </section>
    <div class="landing-bg">
        <p id="top"></p>
        <img src="https://i.imgur.com/ey8xGG8.png" alt="picture of gardeners" id="landing-img">
    </div>
    
    <div class="about-bg">
        <!-- to be filled -->
    </div>
    <div id="about-content">
        <p>
            Welcome to "Our Garden," a vibrant online community tailored for plant enthusiasts and gardening aficionados. Much like Instagram, but with a green twist, Our Garden is your go-to platform to share your plant-filled journey, find inspiration, and connect with fellow plant lovers around the world.
        </p>
        <br><br>
        <p>
            Whether you're nurturing your very first potted plant or tending to an expansive backyard garden, Our Garden provides a nurturing virtual haven where your botanical passions can flourish. 
        </p>
        <br>
        <a href="#top" id="go-up">back to top</a>
    </div>
</main>

<script>

</script>
{% endblock %}