{% extends 'base.html' %}
{% block content %}
<main class="home">
    <section class="landing-content">
        <h1 id="landing-header">our Garden</h1>
        <div class="links">
            <a href="#about-content" class="landing-links">about</a>
            <a href="{% url 'signup' %}" class="landing-links">sign up</a>
            <a href="{% url 'login' %}" class="landing-links">sign in</a>
        </div>
    </section>
    <div class="landing-bg">
        <p id="top"></p>
    </div>
    
    <div class="about-bg">
        <!-- to be filled -->
    </div>
    <div id="about-content">
        <p>
            Welcome to "Our Garden," a vibrant online community tailored for plant enthusiasts and gardening aficionados. Much like Instagram, but with a green twist, Our Garden is your go-to platform to share your plant-filled journey, find inspiration, and connect with fellow plant lovers around the world.
        </p>
        <p>
            Whether you're nurturing your very first potted plant or tending to an expansive backyard garden, Our Garden provides a nurturing virtual haven where your botanical passions can flourish. Share snapshots of your leafy companions, document your gardening triumphs and challenges, and seek advice from a community that truly understands your green ambitions.
        </p>
        <p>
            From succulent lovers and indoor jungle creators to avid cultivators of fruits and vegetables, everyone finds their place in Our Garden. With a diverse array of plant enthusiasts, you'll discover a welcoming space to swap stories, exchange tips, and bond over the joys of watching your plant babies thrive.
        </p>
        <p>
            Join us at Our Garden, where your plant journey becomes a shared experience. Unearth new friendships, cultivate your knowledge, and take part in a blossoming global network of green thumbs. After all, whether you're cultivating a single pot or a verdant paradise, in Our Garden, every plant has a story to tell, and every gardener finds a community that understands their passion.
        </p>
        <br>
        <a href="#top" id="go-up">back to top</a>
    </div>
</main>

<script>

</script>
{% endblock %}