:root {
    --light: #E8F4EA; 
    --medium: #C8E1CC;
    --strong: #B8D8BE;
    --background: #E2E4D4;
    --primary: #93AD98;
    --secondary: #727C4B;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* -------------------------- DASHBOARD -------------------------- */

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(auto-fill, minmax(50vh, auto));
    overflow-x: hidden;
    /* Grid background */
    --s: 10rem; 
    --_g: var(--background) 90deg, white 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g));
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

/* _________________ garden-content __________________ */

.garden {
    grid-area: 1/2/3/5;
    display: flex;
    flex-wrap: wrap;
}

.plant-container {
    display: flex;
    transition: 0.2s;
    filter: brightness(97%);

}

.plant-box-big {
    min-height: 50vh;
    min-width: 25vw;
    position: relative;
}

.garden img {
    height: 50vh;
    width: 25vw;
    object-fit: cover;
    opacity: 0.7;
    padding: 20px;
    border-radius: 10%;

}

.plant-container:hover {
    transform: scale(1.02);
    filter: brightness(100%);
}

.plant-text:hover {
    height: 40%;
}

.plant-text:hover .plant-desc{
    visibility: visible;

}

.plant-text {
    color: var(--secondary);
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 0 20px 15px 20px;
    border-radius: 0 0 20px 20px;
    transition: 0.2s;
    height: 20%;
}

.plant-desc {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    text-align: center;
    height: 50%;
    width: 90%;
    /* overflow is truncated and '...' concludes the text */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ___________________ info-board ___________________ */

.dashboard h1 {
    margin-top: 0;
    padding-top: 1.5em;
    color: white;
    text-align: center;
    font-size: 5rem;
}
.dashboard h3 {
    margin-top: 0;
}
.info-column {
    grid-area: 1/1/3/2;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 25vw;
}

.info-box {
    grid-area: 1/1/2/2;
    height: 50vh;
    background-color: var(--primary);
    pointer-events: none;
}
.info-box p {
    text-align: center;
    color: white;
}

.info-images {
    opacity: 0.3;
    top: 10px;
    visibility: hidden;
}

.info-images img {
    position: absolute;
    height: 35vh;
    top: 4vh;
    left: 4vw;
}

.info-welcome {
    visibility: visible;
}

.functions-box {
    grid-area: 2/1/3/2;
    background-color: var(--primary);
    height: 50vh;
    border-top: solid .5px grey;
    padding-top: 3em;
}


.dashboard-links > .dash-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 25px;
    transition: opacity .4s ease;
}

.dashboard-links:hover .dash-link {
    opacity: 0.3;
}

.dashboard-links:hover > .dash-link:hover {
    opacity: 1;
}

#sign_out {
    color: var(--secondary);
}

/* -------------------------- LANDING -------------------------- */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 100vh);
}
.landing-content {
    grid-area: 1/1/2/2;
    background-color: white;
    margin: 0 auto;
    padding-top: 10vh;
}
.landing-content #landing-header {
    font-size: 8rem;
    color: var(--strong);
    pointer-events: none;
}
.landing-content .landing-links {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--medium);
    padding: 10px;
    text-decoration: none;
    transition: opacity 400ms ease;
}
.links:hover > .landing-links {
    opacity: 0.3;
}
.links:hover > .landing-links:hover {
    opacity: 1;
}
.links {
    margin-top: 10em;
}
.landing-bg {
    grid-area: 1/2/2/4;
    background-color: var(--light);
}


#about-content {
    grid-area: 2/3/3/4;
    font-size: 2rem;
    padding: 1em;
    color: var(--strong);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;;
}
.about-bg{
    grid-area: 2/1/3/3;
    background-color: var(--medium);
}
#go-up:hover {
    opacity: 1;
}
#go-up {
    text-decoration: none;
    color: var(--strong);
    opacity: 0.6;
    position: relative;
    bottom: 3px;
    justify-self: flex-end;
}

footer { 
    position: fixed;
    padding-left: 1em;
    bottom: 1px;
    opacity: 0.5;
    font-size: 17.8px;
}

/* ------------------------ DETAILS ------------------------ */

.form {
    background-color: var(--background);
}

.form-bg {
    display: flex;
    flex-direction: column;    
    text-align: center;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    max-width: 50em;
    color: var(--secondary);
}

.header{
    margin-top: 1em;
    font-size: 4rem;
    max-width: 60rem;
}
.plant-date {
    font-size: 1.25rem;
    margin-bottom: 1vh;
}

.form-content {
    margin: 2em 0;
    font-size: 1.25rem;
    width: 50rem;
    min-height: 5rem;
    background-color: #b2b49e34;
    border-radius: 10px;
}
.form-content #plant-desc {
    color: rgb(92, 92, 92);
    text-align: left;
    padding-left: 1rem;
}

.comments-section {
    margin-bottom: 10%;
}
.comments-section a {
    text-decoration: none;
    color: grey;
}
.comments-section textarea {
    height: 4rem;
    width: 40rem;
}

.details-buttons {
    position: absolute;
    width: 50em;
}
.details-buttons-bottom {
    position: relative;
    width: 50em;
    bottom: 30px;
}
.details-buttons a,
.details-buttons-bottom a {
    position: absolute;
    font-size: 2rem;
    color: var(--secondary);
    top: 10px;
    text-decoration: none;
    opacity: .6;
}
#back-btn {
    left: 0;
}
#edit-btn {
    right: 0;
}
#delete-btn {
    position: relative;
    opacity: 1;
    font-weight: .9;
}

#placeholder {
    margin: 0 auto;
    height: 30em;
    padding-top: 6em;
}
/* images slider */
.tree-pics {
    object-fit: cover;
    min-height: 35em;
    max-height: 35em;
    min-width: 50em;
    max-width: 50em;
}
.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 35em;
    width: 50em;
}


.controls {
position: absolute;
right: 0;
left: 0;
bottom: 16em;
text-align: center;
}

.controls__dot {
display: inline-block;
width: 1em;
height: 1em;
border-radius: 50%;
background-color: #fff;
cursor: pointer;
border: solid 1px lightslategrey
}


/* ------------------------- FORMS ------------------------- */
.form-content label {
    max-width: none;
}
.form-content #id_name, 
.form-content #id_date {
    text-align: center;
}
.form-buttons .btn {
    font-size: 1.5em;
    background-color: var(--background-inputs);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 1rem 3rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    margin: 1em 10px;
}
.form-content {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* -------------------- LOGIN/SIGNUP --------------------- */
.account-form{
    margin-top: 20%;
}
.account-form input {
    display: block;
}
.account-form input,
.account-form label {
    margin: 0 auto;
}