{% extends 'base.html' %}
{% block content %}
<main class="home">
    <section class="landing-content">
        <h1 id="landing-header">plants</h1>
        <div class="links">
            <a href="#about-content" class="landing-links">about</a>
            <a href="#" class="landing-links">sign up</a>
            <a href="#" class="landing-links">sign in</a>
        </div>
    </section>
    <div class="landing-bg">
        <p id="top"></p>
        this is an image.
    </div>
    
    <div class="about-bg">
        <!-- to be filled -->
    </div>
    <div id="about-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto nesciunt tot
            am veniam cumque non! Nihil ipsam qui praesentium aut veritatis, inventore repe
            llat laboriosam harum vel id aperiam delectus sunt.
        </p>
        <br>
        <a href="#top" id="go-up">go back up</a>
    </div>
</main>

<script>

</script>
{% endblock %}